<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ink.whi.video.repo.video.mapper.VideoMapper">

<!--    <select id="listVideoWithResourceByCategory" resultMap="map">-->
<!--        select *-->
<!--            from video v-->
<!--        where v.category_id = #{categoryId}-->
<!--    </select>-->

<!--    <resultMap id="map" type="ink.whi.video.model.dto.VideoInfoDTO" autoMapping="true">-->
<!--        <result column="v.id" property="videoId"/>-->
<!--        <association property="category" javaType="ink.whi.video.model.video.CategoryDTO">-->
<!--            <result column="v.category_id" property="categoryId"/>-->
<!--        </association>-->
<!--        <collection property="resources" javaType="ink.whi.video.repo.video.entity.VideoResource"-->
<!--                    select="listResourcesByVideoId" column="id"/>-->
<!--    </resultMap>-->

<!--    <select id="listResourcesByVideoId" resultType="ink.whi.video.repo.video.entity.VideoResource">-->
<!--        select * from video_resource vr-->
<!--        where vr.video_id = #{videoId}-->
<!--    </select>-->
</mapper>
