<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ink.whi.video.repo.mapper.VideoTagMapper">

    <select id="listVideoTagDetails" resultType="ink.whi.video.dto.TagDTO">
        select v.tag_id as tagId, t.tag_name as tag
        from video_tag as v
                 left join tag as t on v.tag_id = t.id
        where v.video_id = #{videoId}
          and v.deleted = ${@ink.whi.common.enums.YesOrNoEnum@NO.code}
    </select>
</mapper>
